<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We have high hopes from oncolator.</p>
        <p>Ask snimar didi and shreyas about about us page.</p>
    </div>
 
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://i1.rgstatic.net/ii/profile.image/1168779895685127-1655670250358_Q512/Snimarjot-Kaur.jpg"
                    alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Procrastinators</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes lorem ipsum ipsum lorem.</p>
                    <p>procratination@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://i1.rgstatic.net/ii/profile.image/1168779895685127-1655670250358_Q512/Snimarjot-Kaur.jpg"
                    alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Doctors</h2>
                    <p class="title">Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>doctor@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://i1.rgstatic.net/ii/profile.image/1168779895685127-1655670250358_Q512/Snimarjot-Kaur.jpg"
                    alt="John" style="width:100%">
                <div class="container">
                    <h2>whatever</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>whatever@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>